/*General*/
*{box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body {
    font-size: 20px;
    color: black;
    margin: 20px;
    font-family: "Nunito", sans-serif;
}

header {
    text-align:center;
}

h1 {
    font-size: 35px;
    color: darkmagenta;
}

h2{
    color: darkmagenta;
    text-decoration: underline;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.datos {
    font-size: 25px;
    color: darkmagenta;
} 

/*secciones*/
.inicio {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    justify-content:center;
    justify-items:center;
    align-items:center;
    gap: 10px;
    width: 100%;
}

.inicio img {
    width: 100%;
    height: auto;
}

.titulos {
    font-size: 25px;
    color: darkmagenta;
    text-transform: uppercase;
}

/* Estilo aplicado a section */
.testimonios h2{
    font-size: 25px;
    color: darkmagenta;
}

.producto { 
    color: darkmagenta;
    text-decoration: underline;
    margin-top: 20px;
}

.card {
    width: 150px;
    alt: 150px;
    margin: 20px;
}

.card-text {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: darkmagenta;
}

.testimonios .container .row p {
    width: 300px;
}

.campo { 
    display: flex;
    justify-content: flex-start;
}

/* Estado de link */
.link a {
    color: darkmagenta;
}

/* Estilo especifico para el elemento hijo p */
.testimonios p {
    font-style: italic;
}

.pie {
    width: 100%;
    height:20%;
    background-color: rgb(241, 190, 216);
    text-align: justify;
    margin-top: 20px;
}

.navbar-expand-lg-mi-fondo {
    background-color: rgb(241, 190, 216);
    margin-top: 20px;
}

.nav-link {
    color: darkmagenta
}

.internos {
    color: darkmagenta;
}

/* .nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(241, 190, 216);
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-left: auto;
    padding: 0;
} */

.grilla {
    display:grid;
    height:100%;
    width: 100%;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    grid-template-rows:repeat(2,auto);
    grid-template-columns:repeat(3,auto);
    row-gap:30px;
    column-gap:30px;
}

main .grilla img:hover {
    transform: scale(1.01);
}

.galeria {
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
    justify-content:center;
    justify-items:center;
    align-items:center;
    gap: 10px;
}

.introduccion {
    margin-top: 20px;
}

.item {
    border: 2px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: lightgray;
}

.submit {
    color: darkmagenta;
}


/* media queries */
@media (max-width: 479px) { 
    .galeria {
        grid-template-columns:repeat(2,auto);
        grid-template-rows:repeat(3,auto);
}

    .grilla {
        grid-template-rows:auto;
        grid-template-columns:repeat(2,auto);
}
    .inicio img {
    grid-template-columns: 1fr;
    }
}
/* .nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: rgb(241, 190, 216);
}
.nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-left: auto;
    padding: 0;
} */
    